:root {
  --color-primary-light-1: #fe7867;
  --color-primary-light-2: #fad400;
  --color-primary-light-3: #90d4c5;

  --color-primary-dark-1: #25564b;
  --color-primary-dark-2: #19536b;
  --color-primary-dark-3: #458c7e;

  --color-neutral-1: #a7abae;
  --color-neutral-2:  #fffbf8;

  --color-neutral-dark-1: #23303e;
  --color-neutral-dark-2: #5a636c;
  --color-neutral-dark-3: #818498;

  --navigation-height: 8rem;
  --navigation-horizontal-padding: 4rem
}

* {
  margin: 0;
  padding: 0;
  }

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}