.navigation{}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  &__title {
    font-family: Fraunces, serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .4rem;
    margin-top: 5rem;
  }

  &__icon {
    height: 10rem;
    width: 3rem;

    position: absolute;
    top: 20rem;

    animation: arrow-down 1.5s infinite;

  }
}

.section-container {
  display: flex;
  flex-direction: column;
  &__text-container {
    order: 2;
    padding: 5rem 2rem;
    text-align: center;
    background-color: var(--color-neutral-2);
  }

  &__image {
    order: 1;
    width: 100%;
  }
}

.heading-primary {
  font-family: Fraunces, serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-neutral-dark-1);
}

.paragraph {
  font-family: Barlow, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-neutral-dark-3);
  text-align: center;
}

.button {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: Fraunces, serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--color-neutral-dark-1);
    position: relative;
    z-index: 1;
    display: inline-block;

    transition: transform .5s;
  }

  &:hover {
    transform: rotate(-5deg) scale(1.09);
  }

  &:hover::after {
    transform: rotate(5deg);
  }

  &:active {
    transform: scale(1);
    &::after {
      transform: rotate(0deg);
    }
  }

  &::after {
    content: '';
    color: var(--color-primary-light-2);
    opacity: .35;
    border: 1rem solid;
    position: absolute;
    border: .5rem solid;
    position: absolute;
    top: 1.2rem;
    left: -.5rem;
    width: 13rem;
    border-radius: 2rem;
    z-index: -1;
  }
}

.services {
  display: flex;
  flex-direction: column;

}
.service {
  background-position: top ;
  background-repeat: no-repeat;
  height: 56rem;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__text-container {
    padding: 0 1rem;

  }

  &__title {
    font-family: Fraunces, serif;
    color: var(--color-primary-dark-1);
    font-size: 3rem;
    font-weight: 900;
  }

  &__description {
    font-family: Barlow, sans-serif;
    color: var(--color-primary-dark-1);
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &:nth-child(2) &__title,
  &:nth-child(2) &__description  {
    color: var(--color-primary-dark-2);
  }

}

.testimonials {
  padding: 6rem 4rem;
  & h3 {
    font-family: Fraunces, serif;
    text-transform: uppercase;
    color: var(--color-neutral-1);
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-align: center;
  }

  &__container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Barlow, sans-serif;

  &__author-photo {
    border-radius: 50%;
    width: 25%;

  }

  &__description {
    color: var( --color-neutral-dark-2);
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__author-name {
    font-family: Fraunces, serif;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--color-neutral-dark-1);
  }

  &__author-occupation {
    color: var(--color-neutral-1);
    font-size: 1.5rem;
    font-weight: 900;

  }
}

.projects {
  display: flex;
  flex-wrap: wrap;

  &__project {
    width: 50%;
  }
}

@keyframes arrow-down {
  0% {
    
  }
  50% {
    transform: translateY(1rem);
  }

  100%{
    transform: translateY(-1rem);
  }
}