.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 4.5rem !important;
}