:root {
  --color-primary-light-1: #fe7867;
  --color-primary-light-2: #fad400;
  --color-primary-dark-1: #25564b;
  --color-primary-dark-2: #19536b;
  --color-primary-dark-3: #458c7e;
  --color-neutral-1: #a7abae;
  --color-neutral-2:  #fff;
  --color-neutral-dark-1: #23303e;
  --color-neutral-dark-2: #5a636c;
  --color-neutral-dark-3: #818498;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4.5rem !important;
}

header {
  background-image: url(../images/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.heading__title {
  font-family: Fraunces, serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  letter-spacing: .4rem;
  margin-top: 5rem;
}

.heading__icon {
  height: 10rem;
  width: 3rem;
  position: absolute;
  top: 20rem;
  -webkit-animation: arrow-down 1.5s infinite;
          animation: arrow-down 1.5s infinite;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-container__text-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 5rem 2rem;
  text-align: center;
}

.section-container__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}

.heading-primary {
  font-family: Fraunces, serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-neutral-dark-1);
}

.paragraph {
  font-family: Barlow, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-neutral-dark-3);
  text-align: center;
}

.button:link, .button:visited {
  text-decoration: none;
  font-family: Fraunces, serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--color-neutral-dark-1);
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.button:hover {
  -webkit-transform: rotate(-5deg) scale(1.09);
          transform: rotate(-5deg) scale(1.09);
}

.button:hover::after {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button:active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.button::after {
  content: '';
  color: var(--color-primary-light-2);
  opacity: .35;
  border: 1rem solid;
  position: absolute;
  border: .5rem solid;
  position: absolute;
  top: 1.2rem;
  left: -.5rem;
  width: 13rem;
  border-radius: 2rem;
  z-index: -1;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service {
  background-position: top;
  background-repeat: no-repeat;
  height: 56rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service__text-container {
  padding: 0 1rem;
}

.service__title {
  font-family: Fraunces, serif;
  color: var(--color-primary-dark-1);
  font-size: 3rem;
  font-weight: 900;
}

.service__description {
  font-family: Barlow, sans-serif;
  color: var(--color-primary-dark-1);
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.service:nth-child(2) .service__title,
.service:nth-child(2) .service__description {
  color: var(--color-primary-dark-2);
}

@-webkit-keyframes arrow-down {
  0% {
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes arrow-down {
  0% {
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}
/*# sourceMappingURL=main.css.map */