:root {
  --color-primary-light-1: #fe7867;
  --color-primary-light-2: #fad400;
  --color-primary-light-3: #90d4c5;
  --color-primary-dark-1: #25564b;
  --color-primary-dark-2: #19536b;
  --color-primary-dark-3: #458c7e;
  --color-neutral-1: #a7abae;
  --color-neutral-2:  #fffbf8;
  --color-neutral-dark-1: #23303e;
  --color-neutral-dark-2: #5a636c;
  --color-neutral-dark-3: #818498;
  --navigation-height: 8rem;
  --navigation-horizontal-padding: 4rem
;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4.5rem !important;
}

header {
  background-image: url(../images/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.footer {
  background-color: var(--color-primary-light-3);
  padding: 5rem 3.5rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  fill: --var(--color-primary-dark-3);
}

.footer__navigation {
  color: var(--color-primary-dark-3);
}

.footer__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__navigation-list li {
  list-style: none;
}

.footer__navigation-list li:not(:last-child) {
  margin-right: 5rem;
}

.footer__navigation-list li a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: Barlow, sans-serif;
}

.footer__social-icon:not(:last-child) {
  margin-right: 2.3rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 2rem;
  height: var(--navigation-height);
  position: relative;
}

.navigation__logo {
  width: 16.5rem;
  height: 3rem;
}

.navigation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
  height: 3rem;
}

@media (min-width: 768px) {
  .navigation__btn {
    display: none;
  }
}

.navigation__btn-icon {
  color: #fff;
  display: block;
  border-top: solid .2rem currentColor;
  width: 2rem;
}

.navigation__btn-icon.active {
  opacity: .5;
}

.navigation__btn-icon::after, .navigation__btn-icon::before {
  content: '';
  display: block;
  width: 2rem;
  height: .2rem;
  background-color: currentColor;
  margin-top: .5rem;
}

.navigation__menu {
  display: none;
  color: var(--color-neutral-dark-3);
}

@media (min-width: 768px) {
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--color-neutral-2);
  }
}

.navigation__menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.2);
  width: calc(100% - var(--navigation-horizontal-padding));
  margin-top: calc(var(--navigation-height) - 1.5rem);
  padding: 3.5rem 0;
  z-index: 100;
  -webkit-animation: menu-animation .5s;
          animation: menu-animation .5s;
}

.navigation__menu.active::before {
  position: absolute;
  top: -2.4rem;
  right: 0;
  content: '';
  display: block;
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.navigation__menu-item {
  list-style: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 768px) {
  .navigation__menu-item {
    margin: 0 1rem;
  }
  .navigation__menu-item:hover {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
}

.navigation__menu-item a {
  text-decoration: none;
  font-family: Barlow, sans-serif;
  font-size: 1.8rem;
  color: currentColor;
}

.navigation__menu-item:last-child {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .navigation__menu-item:last-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.navigation__menu-item:last-child a {
  background-color: var(--color-primary-light-2);
  border-radius: 2rem;
  font-family: Fraunces, serif;
  color: var(--color-neutral-dark-1);
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navigation__menu-item:last-child a {
    background-color: var(--color-neutral-2);
    color: var(--color-neutral-dark-1);
  }
  .navigation__menu-item:last-child a:hover {
    background-color: #6ecefe;
    color: var(--color-neutral-2);
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.heading__title {
  font-family: Fraunces, serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  letter-spacing: .4rem;
  margin-top: 5rem;
}

.heading__icon {
  height: 10rem;
  width: 3rem;
  position: absolute;
  top: 20rem;
  -webkit-animation: arrow-down 1.5s infinite;
          animation: arrow-down 1.5s infinite;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-container__text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 2rem;
  text-align: center;
  background-color: var(--color-neutral-2);
}

@media (min-width: 720px) {
  .section-container__text-container {
    text-align: left;
  }
}

@media (min-width: 900px) {
  .section-container__text-container {
    padding: 5rem 4rem;
  }
}

@media (min-width: 1200px) {
  .section-container__text-container {
    padding: 10rem 14rem;
  }
}

.section-container__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media (min-width: 720px) {
  .section-container__image {
    width: 50%;
    height: 100%;
  }
}

@media (min-width: 720px) {
  .section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-1 .section-container__text-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 720px) {
  .about-1 .section-container__text-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about-1 .section-container__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 720px) {
  .about-1 .section-container__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about-2 .section-container__text-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about-2 .section-container__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.heading-primary {
  font-family: Fraunces, serif;
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--color-neutral-dark-1);
}

.paragraph {
  font-family: Barlow, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--color-neutral-dark-3);
}

.button:link, .button:visited {
  text-decoration: none;
  font-family: Fraunces, serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--color-neutral-dark-1);
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.button:hover {
  -webkit-transform: rotate(-5deg) scale(1.09);
          transform: rotate(-5deg) scale(1.09);
}

.button:hover::after {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button:active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.button::after {
  content: '';
  color: var(--color-primary-light-2);
  opacity: .35;
  border: 1rem solid;
  position: absolute;
  border: .5rem solid;
  position: absolute;
  top: 1.2rem;
  left: -.5rem;
  width: 13rem;
  border-radius: 2rem;
  z-index: -1;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service {
  background-position: top;
  background-repeat: no-repeat;
  height: 56rem;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service__text-container {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .service__text-container {
    padding: 0 2rem;
  }
}

@media (min-width: 1200px) {
  .service__text-container {
    padding: 0 17rem;
  }
}

.service__title {
  font-family: Fraunces, serif;
  color: var(--color-primary-dark-1);
  font-size: 3rem;
  font-weight: 900;
}

.service__description {
  font-family: Barlow, sans-serif;
  color: var(--color-primary-dark-1);
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.service:nth-child(2) .service__title,
.service:nth-child(2) .service__description {
  color: var(--color-primary-dark-2);
}

.testimonials {
  padding: 6rem 4rem;
}

.testimonials h3 {
  font-family: Fraunces, serif;
  text-transform: uppercase;
  color: var(--color-neutral-1);
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-align: center;
}

.testimonials__container {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7rem;
}

@media (min-width: 768px) {
  .testimonials__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Barlow, sans-serif;
}

.testimonial__author-photo {
  border-radius: 50%;
  width: 25%;
}

.testimonial__description {
  color: var(--color-neutral-dark-2);
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
}

.testimonial__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__author-name {
  font-family: Fraunces, serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--color-neutral-dark-1);
}

.testimonial__author-occupation {
  color: var(--color-neutral-1);
  font-size: 1.5rem;
  font-weight: 900;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__project {
  width: 50%;
}

@media (min-width: 576px) {
  .projects__project {
    width: 25%;
  }
}

@-webkit-keyframes arrow-down {
  0% {
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes arrow-down {
  0% {
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@-webkit-keyframes menu-animation {
  0% {
  }
  50% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-animation {
  0% {
  }
  50% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */